<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.headache"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_logmypain"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_logo_logmypain" android:label="LogMyPain">
        <activity
            android:name="com.apps.headache.MainActivity"
            android:label="LogMyPain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.headache.ModifyRecordActivity"
            android:label="@string/title_activity_record_headache_now"
        android:parentActivityName="com.apps.headache.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.apps.headache.MainActivity" /> >
        </activity>
        <activity
            android:name="com.apps.headache.ViewRecordsActivity"
            android:label="@string/title_activity_view_records"
        android:parentActivityName="com.apps.headache.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.apps.headache.MainActivity" />
         >
        </activity>
        <activity
            android:name="com.apps.headache.RecordNowDialog" >
        </activity>
        <activity
            android:name="com.apps.headache.DateTimeActivity"
            android:label="@string/title_activity_date_time" 
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
    </application>

</manifest>
