<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logmypain.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_logmypain"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_logo_logmypain" android:label="@string/app_name">
        <activity
            android:name="com.logmypain.main.MainActivity"
            android:label="LogMyPain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logmypain.main.record.HeadacheRecordFormActivity"
            android:label="@string/title_activity_record_headache_now"
        android:parentActivityName="com.logmypain.main.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.logmypain.main.MainActivity" /> >
        </activity>
        <activity
            android:name="com.logmypain.main.ViewRecordsActivity"
            android:label="@string/title_activity_view_records"
        android:parentActivityName="com.logmypain.main.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.logmypain.main.MainActivity" />
         >
        </activity>
        <activity
            android:name="com.logmypain.main.ViewCalendarActivity"
            android:label="View Calendar"
        android:parentActivityName="com.logmypain.main.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.logmypain.main.MainActivity" />
         >
        </activity>
    </application>

</manifest>
